/.venv
/aerobo_website/aerobo_website/__pycache__
/aerobo_website/doorlock_iot/migrations
/aerobo_website/doorlock_iot/__pycache__
/doorlock-iot-test/screenshot.png
/aerobo_website/static/images/contoh.jpg